<main>
  <h1>Hello world</h1>
  <h2>Second title</h2>
  <h3>The title for three</h3>
  <hr />

  <div class='display-1 text-uppercase'>Hello world</div>
  <div class='display-2 text-center'>Second title</div>
  <div class='display-3 text-end'>The title for three</div>
  <hr />

  <div class='text-end'><span
      class='text-muted display-3'
    >Lorem, ipsum dolor.</span></div>

  <p class='text-muted display-3 text-center'>Lorem, ipsum
    dolor.</p>
  <button class='btn btn-success'>Test button</button>
  <button class='btn btn-primary'><span
      class='text-uppercase'
    > button primary</span><h2>test</h2></button>
  <a class='btn btn-link' href='#'>Кнопка-посилання</a>
  <hr />
  <p class='text-primary'>My text</p>
  <p class='display-6 text-secodary'>My text</p>
  <p class='display-6 text-muted'>My text</p>
  <hr />
  <button class='btn btn-outline-info'>Test outline button</button>
  <button class='btn btn-outline-info btn-lg'>Test outline
    button</button>
  <button class='btn btn-sm btn-secondary'>Test outline
    button</button>

  <hr />
  <p class='text-primary card'>My text</p>
  <p class='display-4 card'>Без класу card-body текст
    прижмається до країв
  </p>
  <p class='display-4 card card-body'><span
      class='display-4 text-muted text-uppercase'
    >My text</span></p>
  <p class='display-4 card card-body'><span
      class='display-4 text-muted text-uppercase'
    >My text</span><span
      class='display-4 text-muted text-uppercase text-end'
    >My text</span></p>

  <hr />
  <div class='card'>
    <div class='card-body'>
      This is content
    </div>
  </div>

  <br />
  <div class='card'>
    <div class='card-body'>
      <button class='btn btn-outline-info'>Test outline
        button</button>
      <button class='btn btn-outline-info btn-lg'>Test
        outline button</button>
      <button class='btn btn-sm btn-secondary'>Test outline
        button</button>
    </div>
  </div>
  <br />

  <div class='card card-body'>
    <button class='btn btn-outline-info'>Test outline button</button>
    <button class='btn btn-outline-info btn-lg'>Test outline
      button</button>
    <button class='btn btn-sm btn-secondary'>Test outline
      button</button>
  </div>

</main>