<div class='dropdown ps-2'>
  <button
    type='button'
    class='btn btn-outline-secondary dropdown-toggle'
    data-bs-toggle='dropdown'
    aria-expanded='false'
  >{{button-name}}</button>
  <ul class='dropdown-menu'>
    {{#each data}}
      <li><a
          class='dropdown-item'
          href='#'
        >{{this}}</a></li>
    {{/each}}
  </ul>
</div>