{{#with footer}}
	<footer>
		
		<div>
			{{#with social}}
			{{>link text=email.text href=email.href blank=true }}
			{{>link text=tel.text href=tel.href blank=true }}
			{{>link text=LinkedIn.text href=LinkedIn.href blank=true noline=true}}
			{{/with}}
		</div>
		<br>
		<div>Copyright by {{../header/name/firstname}} {{../header/name/lastname}}</div>
		<br>
		<div>
			<address><em>{{../header/address}}</em></address>
		</div>
	</footer>
	{{/with}}