<section class='row p-0 mb-3'>
  <div class='col-5'>
    {{#with name}}
      <div class='display-3'>{{firstname}}
        {{lastname}}</div>
    {{/with}}
  </div>
  <div class='col-7 text-end display-3'>
    {{page.title}}
  </div>
</section>
<hr />