<footer class="row">
  <hr class='my-5' />
  {{#each footer}}
    <div class="nav col-2 mx-0">
      <div>
          {{#each this}}
          <div class="nav-item">
            <a class='nav-link px-0 {{#if @last}} disabled {{/if}}' href={{link}}>{{text}}</a>
          </div>
          {{/each}}
      </div>
    </div>
  {{/each}}
</footer>