<html>

<head>
	<title>
		{{page.title}}
	</title>
	<meta charset='utf-8' />
	<link href='css/index.css' rel='stylesheet' />
	<script src="https://kit.fontawesome.com/aad3be4c47.js" crossorigin="anonymous"></script>
</head>

<body>
	{{>nav}}
	<br>
	<hr>
	{{! ↓ ця конструкція показує куди шаблонізатору треба вставляти код з container файлу }}
	{{{body}}}

	<br>
	<hr>

	{{>footer}}
</body>

</html>